/* Variables */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  color: #000;
  background-color: #000;
  line-height: 1.6;
  font-size: 1rem;
}

/* Header */
header {
  color: #fff;
}
header .navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
header .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar-toggler span {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header .navbar-toggler.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
header .navbar-toggler.active span:nth-child(2) {
  opacity: 0;
}
header .navbar-toggler.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
header .offcanvas {
  background: #000 !important;
}
header .offcanvas .btn-close-white {
  opacity: 1 !important;
}
header .offcanvas-body {
  max-height: 90vh;
  padding-left: 20px;
}
header .offcanvas-body .navbar-nav .nav-link {
  font-family: "Signika Negative", serif;
  font-weight: 700;
  font-size: 20px;
}
header .offcanvas-body .navbar-nav.nav-qlinks {
  margin-top: 50px;
}
header .offcanvas-body .navbar-nav.nav-qlinks .nav-link {
  font-size: 16px;
}
header .btn-close-nav {
  background: #000;
  display: block;
  float: right;
  box-shadow: none;
  border: none;
}

.navbar .nav-link {
  color: #fff;
}
.navbar .nav-link:hover {
  text-decoration: underline;
}

.bg-white-section {
  background: #fff;
}

.bg-white-section-new {
  background: #F3F3F3;
}

/* Hero Section */
section.text-center {
  padding: 4rem 0;
}
section.text-center h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
section.text-center p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
section.text-center .btn {
  background-color: #f4a261;
  color: #000;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}
section.text-center .btn:hover {
  background-color: rgb(240.6804733728, 133.9349112426, 49.3195266272);
}

.hero-section .display-4 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Signika Negative", serif;
  line-height: 54px;
}
.hero-section .lead {
  font-size: 18px;
  font-weight: 400;
  color: #ddd;
}

/* Featured Images */
section.d-flex {
  background-color: #fff;
  padding: 2rem 0;
}
section.d-flex img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

#bannerslide .item img {
  width: auto;
  border-radius: 15px;
}

section.testimonials {
  background: linear-gradient(360deg, #F9F9F7 0%, #F3E7E3 100%);
}

/* Features Section */
section.py-5 h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
section.py-5 p {
  margin-bottom: 2rem;
}
section.py-5 .col-md-6 h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
section.py-5 .col-md-6 p {
  font-size: 1.2rem;
}

/* Categories Section */
section.bg-light {
  padding: 3rem 0;
}
section.bg-light h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
section.bg-light img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
section.bg-light h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
section.bg-light .btn {
  background-color: #f4a261;
  color: #000;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}
section.bg-light .btn:hover {
  background-color: rgb(240.6804733728, 133.9349112426, 49.3195266272);
}

/* Testimonials */
section.py-5.card {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
section.py-5.card .card-text {
  font-style: italic;
  margin-bottom: 1rem;
}
section.py-5.card .blockquote-footer {
  margin-bottom: 1rem;
  font-weight: bold;
}
section.py-5.card .text-warning {
  font-size: 1.2rem;
  color: #ffd700;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  text-align: left !important;
  padding: 2rem 0;
}
footer .address-part {
  color: #ddd;
}
footer ul.list-inline.no-list-item {
  flex-direction: column;
  gap: 5px;
}
footer .stitch-btm {
  font-family: "Signika Negative", serif;
  margin: 0 0 5px;
}
footer .list-inline.articles {
  margin: 10px 0 30px;
  gap: 0;
}
footer .list-inline.articles li {
  margin-right: 0 !important;
  border-right: 1px solid #ddd;
  padding: 0 15px;
  line-height: 22px;
}
footer .list-inline.articles li:last-child {
  border-right: none;
  padding-right: 0;
}
footer .list-inline.articles li:first-child {
  padding-left: 0;
}
footer p {
  margin-bottom: 1rem;
  color: #ddd;
}
footer p.strong-about {
  font-weight: 700;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer ul.social-list {
  justify-content: left;
}
footer ul li a {
  color: #ddd !important;
  text-decoration: none;
  display: block;
}
footer ul li a:hover {
  text-decoration: underline;
}

.headings {
  font-family: "Signika Negative", serif;
  font-weight: 700 !important;
}

.btn {
  border-radius: 30px !important;
  font-family: "Signika Negative", serif;
  font-weight: 500 !important;
}

.btn-primary {
  background: #fff !important;
  color: #000 !important;
  border: none !important;
}
.btn-primary.btn-dark {
  background: #000 !important;
  color: #fff !important;
}

.steps-show {
  font-size: 16px;
  font-family: "Signika Negative", serif;
  background: #5E5E5E;
  display: table;
  width: auto;
  padding: 0px 10px;
  margin: 20px auto 5px;
  color: #fff;
}

.feature-step p {
  color: #313131;
}
.feature-step .accordion {
  border: none;
}
.feature-step .accordion .accordion-item {
  border: none;
}
.feature-step .accordion .accordion-item .accordion-header .accordion-button {
  padding-bottom: 0;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}
.feature-step .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background: none;
  border: none;
  box-shadow: none;
  color: #000;
}
.feature-step .accordion .accordion-item .accordion-body {
  color: #313131;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.category-section p {
  color: #ddd;
}
.category-section .craft-title {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 20px;
}
.category-section .craft-title img {
  max-width: 100%;
}
.category-section .craft-title h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 20px 0 !important;
}
.category-section .craft-title a {
  padding-left: 30px;
  padding-right: 30px;
}

.testimonials .item .card {
  border: none !important;
  text-align: left;
}
.testimonials .item .name-review {
  font-family: "Signika Negative", serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonials .item p {
  margin-bottom: 10px;
  color: #000;
}
.testimonials .review-image {
  text-align: center;
}

img.img-fluid.bg-category {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
}

@media (max-width: 575.98px) {
  #testimonialslide.owl-carousel .owl-stage, .category-slide.owl-carousel .owl-stage, #styleslide.owl-carousel .owl-stage {
    padding-left: 15px !important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .container.p-0, .container-fluid.p-0, .container-lg.p-0, .container-md.p-0, .container-sm.p-0, .container-xl.p-0, .container-xxl.p-0 {
    padding: 0 !important;
  }
  .container.mobile-padding-0, .container-fluid.mobile-padding-0, .container-lg.mobile-padding-0, .container-md.mobile-padding-0, .container-sm.mobile-padding-0, .container-xl.mobile-padding-0, .container-xxl.mobile-padding-0 {
    padding: 0 !important;
  }
  .mobile-padding-0 {
    padding: 0 !important;
  }
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
.owl-carousel .owl-nav button {
  width: 40px;
  font-size: 40px !important;
  height: 40px;
  line-height: 40px !important;
  border-radius: 5px;
}
.owl-carousel .owl-nav .owl-prev {
  margin-left: -40px;
}
.owl-carousel .owl-nav .owl-next {
  margin-right: -40px;
}

header {
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #000;
  z-index: 100;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
}

a.whatsapp-chat {
  width: 50px;
  height: 50px;
  right: 0;
  display: block;
  bottom: 20px;
  position: fixed;
  z-index: 10;
}
a.whatsapp-chat img {
  max-width: 100%;
}